extends layout

mixin product(id, title, value, image)
    img(src=imgSource alt="err" style='width:250px; height:400px; object-fit: contain;')
    h3=title
    div
        parseFloat(value).toFixed(2) + "zł" 
        a(href="/cart/add/"+id role="button") +
        a(href="/cart/remove/"+id role="button") -

block content
    h2 Koszyk
        each product in products
            +product(product.id, product.title, product.value, product.image)
    p   Całkowita cena: 
        order.sumValue zł
    a(href="/cart/make_order/" role="button") Zamów