extends layout

mixin product(id, title, description, value, image)
    a(href="/products/details/"+id)
        img.img_responsive(src=imgage alt="err" style='width:250px; height:350px; object-fit: contain;')
        h4=title
        div
            value + " zł"
        if session.admin
            a(href="/products/remove/"+id role="button") Usuń
            a(href="/products/edit/"+id role="button") Edytuj
        if session.valid
            a(href="/cart/add/"+id role="button") Dodaj do koszyka
    br
    br

block content
  p Welcome to #{title}
  div
    if session.admin
        a(href="/products/add/" role="button") Dodaj
    each product in products
        +product(product.id, product.title, product.description, product.value, product.image)
