
extends layout

mixin order(id, customerId, sumValue, status, time)
    td=id
    if session.admin
        td 
            a(href="/user/"+customerId role="button") Klient
    td=sumValue
        = zł
    if status == 1
        td Koszyk
    else
        td Zamówienie    
    td=time
    td
        a(href="/orders/"+id role="button") Przejdź do zamówienia

block content
    table
        tr
                th ID
                if session.admin
                    th Klient
                th Cena
                th Typ

                th Data zamówienia
                th Łącze
                each order in orders 
                    tr
                        +order(order.Id, order.customerId, order.sumValue, order.status, order.time)
                