extends layout

mixin order(id, customerId, sumValue, status, time)
    th(scope="row")=id
    if session.admin
        td a(href="/user/"+customerId role="button") Klient
    td=sumValue + "zł"
    if status == 1
        td "Koszyk"
    else
    td=moment(time).format("HH:mm DD/MM/YY")
    a(href="/orders/"+id role="button") Przejdź do zamówienia

block content
    .row
        table.table
            tr
                th ID
                if session.admin
                    th Klient
                th Cena
                th Typ

                th Data zamówienia
                th Łącze
                each order in orders 
                    tr
                        +order(id, customerId, sumValue, status, time)
                