extends layout

mixin product(id, title, value, image)
    img(src=image  style='width:150px; height:200px; object-fit:contain;')
    h3=title
    div
        parseFloat(price).toFixed(2) + "zł" 

block content
    h2 Zamówienie
        each product in products
            +product(product.id, product.title, product.value, product.image)
    br
    div Całkowita cena: 
        parseFloat(order.sumValue).toFixed(2) zł
    div Data zakupy: 
        order.time